- if @profile.stack_overflow_profile
  %li
    .logo= image_tag "syncable/stack_overflow_logo.png"
    %span= link_to @profile.stack_overflow_profile.stack_overflow_id, @profile.stack_overflow_profile.url, :target => "_blank"
  .clear