- if @profile.stack_overflow_profile
  %tr
    %td= image_tag "syncable/stack_overflow_logo.png"
    %td= link_to @profile.stack_overflow_profile.stack_overflow_id, @profile.stack_overflow_profile.url, :target => "_blank"