%section#profile_badges
  %h2 Badges

  - if @profile.badges.empty?
    No badges yet
  - else
    %ul.media-grid#badges
      - @profile.badges.each do |b|
        %li.badge{:title => b.name}
          = image_tag "silver_badge.png"
    .clear
.clear

:javascript
  $(function(){
    $('.badge').popover({ placement: 'above', offset: 35 });
  });

