#profile_badges
  %h3 Badges

  - if @profile.badges.empty?
    No badges yet
  - else
    %ul#badges
      - @profile.badges.each do |b|
        %li.badge{:title => b.name}
          = image_tag "silver_badge.png"
.clear

:javascript
  $(function(){
    $('.badge').tooltip();
    //$('.badge').tinyTips('title');
  });

