#profile
  = render :partial => "header"
  
  = render :partial => "profile_menu"
  .grid_10
    %ul
      - @profile.jobs.each do |j|
        %li= render :partial => "jobs/job", :locals => { :job => j }

    &nbsp;

  .grid_6
    = render :partial => "shared/profile/linkedin"

.clear
