
.grid_6
	%h2= @profile.name
	= link_to "Edit profile", edit_profile_path(@profile)
.clear

= render :partial => 'stack_overflow_profiles/profile'
= render :partial => 'speaker_rate_profiles/profile'
