#profile
	= render :partial => "shared/profile/header"
	
	%hr
	.grid_4
		= render :partial => "shared/profile/basic_info"
	.clear
	
	= render :partial => "my_profile_menu"
	
	= render :partial => "shared/profile/speaking"