%p
  Have a GitHub account? Be sure to tell CodeMav. 
  %a{:class => "module_link", :rel => "#learn_sync_git_hub"} Tell us your GitHub username

#learn_sync_git_hub.overlay
  - @profile = current_profile
  - @git_hub_profile = GitHubProfile.new
  = render :partial => "git_hub_profiles/form"
