%tr#git_hub
  %td.auto_image= image_tag("autodiscover/git_hub.png")
  %td.discovered_label username
  %td.discovered_info= @profile.git_hub_profile.username
  %td.not_me= link_to "That's not me", [@profile, @profile.git_hub_profile], :method => :delete, :remote => true

