%h1 Contact Form

%table
  %tr
    %td Name
    %td= @contact.name
  %tr
    %td Email
    %td= @contact.email
  %tr
    %td Subject
    %td= @contact.subject
  %tr
    %td Description
    %td= @contact.description
