%h1 Just a friendly reminder

%p 
  You have a presentation of #{link_to @talk.title, profile_talk_path(@profile, @talk)} scheduled for #{show_date @talk.presentation_date}.

%p
  From your friends at CodeMav.com
