= form_for [:my, @blog] do |f|
	.label=f.label :title
	.control=f.text_field :title
	.label=f.label :url
	.control=f.text_field :url
	.label=f.label :blog_type
	.control= select_tag :blog_type, options_for_select(@blog_types)
	.submit=f.submit action_text, :disable_with => disable_text