%p Just enter your Slide Share username and we can then synch with your account

= form_for [@profile, @slide_share_profile] do |f|
  .label= f.label :slide_share_username, "Username"
  .control= f.text_field :slide_share_username
  .submit= f.submit "Save", :disable_with => "Saving"
