
$light_gray: #868686;
$light_black: #202121;
$shadow: #A8AAAA; 

@mixin corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;  
}

@mixin gradient($from, $to) {
  /* gecko based browsers */
  background: -moz-linear-gradient(top, $from, $to);

  /* webkit based browsers */
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
}

$ds_large: 3px;
$ds_small: 1px;
@mixin drop_shadow() {
  -moz-box-shadow: $ds_large $ds_large $ds_small $shadow; /* Firefox 3.6 and earlier */
  -webkit-box-shadow: $ds_large $ds_large $ds_small $shadow; /* Safari and Chrome */
  box-shadow: $ds_large $ds_large $ds_small $shadow;
}

h1 {
  font-size: 24pt;
  font-weight:bold;
}

#backlog {
  #backlog_items {
    li {
      margin: 5px;
      padding: 7px;
      border-bottom: 1px solid $light_gray;
    }

    #add_item {
      a {
        p {
          font-size: 20pt;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
    }

    .backlog_item {
      .title {
        font-size: 14pt;
        margin-bottom: 5px;
      }
      .description {
        margin-top: 5px;
        font-size: 12pt;
        line-height: 130%;
        color: #444747;
        margin-left: 5px;
      }
      table {
        cell-padding: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        tr {
          td:first-child {
            padding-right: 10px;
            font-weight: bold;
          }
        }
      }
      .imported_from {
        float: right;
        img {
          position: relative;
          top: 4px;
        }
      }
    }
  }
}

.filter {
  h2 {
    float: left;
    font-size: 16pt;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-right: 10px;
  }
  ul {
    float:right;
  }
}


#event_feed {
  #events {
    .item_title {
      font-weight: normal;
    }
  }
}


