#backlog #backlog_items li {
  float: left;
  width: 240px;
  margin: 10px;
  padding: 13px; }
#backlog #backlog_items .backlog_item {
  border: 1px solid #868686;
  -moz-box-shadow: 3px 3px 1px #a8aaaa;
  /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 3px 3px 1px #a8aaaa;
  /* Safari and Chrome */
  box-shadow: 3px 3px 1px #a8aaaa; }
  #backlog #backlog_items .backlog_item .title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px; }
  #backlog #backlog_items .backlog_item .description {
    margin-top: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #444747; }
  #backlog #backlog_items .backlog_item table {
    cell-padding: 3px;
    margin-top: 15px; }
    #backlog #backlog_items .backlog_item table tr td:first-child {
      padding-right: 10px; }
