.codemav_basic_widget {
  background: #fff;
  width: 200px;
  height: 50px;
  padding: 7px;
}
.codemav_icon {
  float: left;
  margin-right: 10px;
}
.codemav_name_and_subpoints {
  float: left;
}
.codemav_username {
  font-size: 18px;
  margin-bottom: 15px;
  clear: both;
}
.codemav_subpoints_section {
  margin-top: 5px;
}
.codemav_points {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 36px;
  font-weight: bold;
  color: #797979;
  float:right;
}
.codemav_subpoints_icon {
  float: left;
 }
.codemav_subpoints {
  float: left;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #797979;
}



