// lightest blue 6279B5
// light blue 415173
// base blue 2D406B
// dark blue 212736
// orange E03F00

$lightest_blue: #6279B5;
$light_blue: #415173;
$blue: #2D406B;
$dark_blue: #212736;
$contrast: #E03F00;
$font_family: 'Droid Sans', arial, serif;

a {
	font-family: $font_family;
}

.jquery-auto-geocoder-map {
	width: 150px;
	height: 150px;
}

$form_font_size:1.1em;
form {
	p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	label {
		color:$blue;
		font-size:$form_font_size;
	}
	input {
		font-size:$form_font_size;
	}
	textarea {
		font-size:$form_font_size;
	}
}

#header {
	margin-top: 10px;
	margin-bottom: 10px;
	h1 { 
		font-family: 'Cuprum', arial, serif;
		font-size: 5em;
	}
}

#content {
	font-family: 'Droid Sans', arial, serif;
	font-size: 1em;
	
	h2 {
		font-size: 2em;
		color:$blue;
		text-transform: lowercase;
	}
}

