// lightest blue 6279B5
// light blue 415173
// base blue 2D406B
// dark blue 212736
// orange E03F00

$lightest_blue: #73B2D9;
$light_blue: #35AAF2;
$blue: #0477BF;
$off_white: #F2F2F2;
$dark_gray: #8d8d8d;
$gray: #595959;
$light_gray: #868686;
$black: #0D0D0D;
$contrast: #E03F00;
$white: #FFFFFF;
$offwhite: #EEEEEE;
$droid: 'Droid Sans', arial, serif;

@mixin corners($radius: 5px) {
	border-radius: $radius;
	-moz-border-radius: $radius;	
}

body {
	font-family: $droid;
}

h2 {
	font-size: 2em;
	color:$black;
	margin-bottom: 15px;
}

a {
	font-family: $droid;
	text-decoration: none;
	color: $blue;
	&:visited {
		color: $blue;
	}
	&:hover {
		color: $light_blue;
	}
}

hr {
	border: 1px solid $blue;
}

.left {
	float: left;
}
.right {
	float: right;
}

.jquery-auto-geocoder-map {
	width: 150px;
	height: 150px;
}

$form_font_size:1em;
$form_top_margin:10px;
form {
	p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.label {
		margin-top:$form_top_margin;
	}
	label {
		color:$blue;
		font-size:$form_font_size;
	}
	input {
		font-size:$form_font_size;
		margin-top:$form_top_margin;
		border: 1px solid $gray;
		padding: 4px;
		&:focus {
			border: 1px solid $light_blue;
		}
	}
	input[type=submit] {
		@include corners;
		border: 1px solid $light_gray;
		background: $blue;
		color:$white;
		padding: 7px;
		font-size: .9em;
		&:hover {
			background: $light_blue;
			border: 1px solid $blue;
		}
	}
	textarea {
		font-size:$form_font_size;
		margin-top:$form_top_margin;
		height: 100px;
		border: 1px solid $gray;
		padding: 4px;
		&:focus {
			border: 1px solid $light_blue;
		}
	}
}

.notice {
	border: 1px solid $gray;
	padding: 5px;
	text-align:center;
	margin-bottom: 15px;
	background-color: $offwhite;
}

$error_border: #CB2324;
$error_background: #FFDFDF;
#error_explanation {
	border: 2px solid $error_border;
	background-color: $error_background;
	padding: 7px;
	padding-bottom: 10px;
	h2 {
		font-size: 1.2em;
	}
	ul {
		list-style: disc;
		li {
			margin-left:20px;
		}
	}
}
.field_with_errors {
	margin: 0px;
	padding: 0px;
	input {
		border: 2px solid $error_border;
	}
	textarea {
		border: 2px solid $error_border;
	}
}

.photo {
	border: 1px solid $offwhite;
}

.set_location {
	// border: 1px solid $light_gray;
	// padding: 10px;
	width: 450px;
	margin-top: 15px;
	legend {
		color: $blue;
	}
	textarea {
		float:left;
		margin-right: 10px;
	}
	.jquery-auto-geocoder-map {
		border: 1px solid $light_gray;
	}
}

#header {
	margin-top: 10px;
	margin-bottom: 10px;
	h1 { 
		font-family: 'Cuprum', arial, serif;
		font-size: 5em;
	}
}

#login_panel {
	border: solid 1px $offwhite;
	padding: 5px;
	font-size: 0.9em;
	height: 40px;
	width: 250px;
	.avatar {
		float:left;
		margin-right: 10px;
	}
	.logout {
		float:right;
		a {
			font-size: 0.8em;
		}
	}
	.username {
		a {
			font-size: 1.1em;
		}
	}
	.points {
		margin-top: 5px;
		img {
			margin-right: 5px;
			float:left;
		}
		.score {
			padding-top: 1px;
		}
	}
}

#content {
	font-family: 'Droid Sans', arial, serif;
	font-size: 1em;
	margin-top: 20px;
}

#profile_pic {
	border: 1px solid $black;
}
#profile_icons {
	margin-top: 10px;
	.icon {
		float: left;
		margin-right: 15px;
		.image {
			float: left;
		}
		.score {
			float: left;
			font-size: 1.5em;
			position: relative;
			top: 15px;
			left: 10px;
		}
	}
}
#basic_info {
	table {
		tr { 
			td:first-child {
				font-size:1em;
				color: $dark_gray;
				padding-right: 10px;
				text-transform: lowercase;
			}
		}
	}
}
#recent_badges {
	height: 75px;
	h3 {
		width: 120px;
	}
	.badge {
		.badge_image {
			width: 50px;
			height: 50px;
		}
	}
}

#languages {
	height: 75px;
}
#technologies {
	height: 75px;
}
#disciplines {
	height: 75px;
}
#current_employment {
	height: 75px;
}
#top_colleagues {
	height: 75px;
}

.menu {
	border-bottom: 1px solid $blue;
	margin: 0;
	margin-top:15px;
	padding-bottom: 19px;
	padding-left: 10px;
	ul, li {
		display: inline;
		list-style-type: none;
		margin: 0px;
		padding: 0px;		
	}
	a:link, a:visited	{
		background: $off_white;
		border: 1px solid $blue;
		color: $black;
		float: left;
		font-size: small;
		font-weight: normal;
		line-height: 14px;
		margin-right: 8px;
		padding: 2px 10px 2px 10px;
		text-decoration: none;
	}

	a:link.active, a:visited.active	{
		background: $white;
		border-bottom: 1px solid $white;
		color: $blue;
	}

	a:hover	{
		color: #f00;
	}
}


.section {
	@include corners;
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin-top:10px;
	h3 {
		position:relative;
		top:-15px;
		color: $blue;
		font-size: .75em;
		background: $white;
	}
}

#beta_login {
	margin-top: 100px;
	margin-right: auto;
	p {
		margin-top:10px;
	}
	form {
		margin-top: 10px;
	}
}

#profile {
	h2 {
		margin-bottom: 30px;
		.username {
			float: left;
			font-size: 24pt;
		}
		.profile_name {
			float: left;
			font-size: 14pt;
			font-weight: normal;
			margin-top: 8px;
			margin-left: 10px;
		}
		a {
			font-size: 10pt;
			position: relative;
			top: 14px;
			left: 10px;
		}		
	}

}