body {
  font-family: "Droid Sans", arial, serif; }

h2 {
  font-size: 2em;
  color: #0d0d0d;
  margin-bottom: 15px; }

a {
  font-family: "Droid Sans", arial, serif;
  text-decoration: none;
  color: #0477bf; }
  a:visited {
    color: #0477bf; }
  a:hover {
    color: #35aaf2; }

p {
  margin-top: 5px;
  margin-bottom: 5px; }

hr {
  border: 1px solid #0477bf; }

.left {
  float: left; }

.right {
  float: right; }

.jquery-auto-geocoder-map {
  width: 150px;
  height: 150px; }

form p {
  margin-top: 10px;
  margin-bottom: 10px; }
form .label {
  margin-top: 10px; }
form label {
  color: #0477bf;
  font-size: 1em; }
form input {
  font-size: 1em;
  margin-top: 10px;
  border: 1px solid #595959;
  padding: 4px; }
  form input:focus {
    border: 1px solid #35aaf2; }
form input[type=submit] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #868686;
  background: #0477bf;
  color: white;
  padding: 7px;
  font-size: .9em; }
  form input[type=submit]:hover {
    background: #35aaf2;
    border: 1px solid #0477bf; }
form textarea {
  font-size: 1em;
  margin-top: 10px;
  height: 100px;
  border: 1px solid #595959;
  padding: 4px; }
  form textarea:focus {
    border: 1px solid #35aaf2; }

.notice {
  border: 1px solid #595959;
  padding: 5px;
  text-align: center;
  margin-bottom: 15px;
  background-color: #eeeeee; }

#error_explanation {
  border: 2px solid #cb2324;
  background-color: #ffdfdf;
  padding: 7px;
  padding-bottom: 10px; }
  #error_explanation h2 {
    font-size: 1.2em; }
  #error_explanation ul {
    list-style: disc; }
    #error_explanation ul li {
      margin-left: 20px; }

.field_with_errors {
  margin: 0px;
  padding: 0px; }
  .field_with_errors input {
    border: 2px solid #cb2324; }
  .field_with_errors textarea {
    border: 2px solid #cb2324; }

.photo {
  border: 1px solid #0d0d0d; }

.set_location {
  width: 450px;
  margin-top: 15px; }
  .set_location legend {
    color: #0477bf; }
  .set_location textarea {
    float: left;
    margin-right: 10px; }
  .set_location .jquery-auto-geocoder-map {
    border: 1px solid #868686; }

#header {
  margin-top: 10px;
  margin-bottom: 10px; }
  #header h1 {
    font-family: 'Cuprum', arial, serif;
    font-size: 5em; }

#footer {
  background: #0d0d0d;
  margin-top: 30px;
  width: 100%;
  bottom: 0px;
  position: fixed; }

#login_panel {
  border: solid 1px #eeeeee;
  padding: 5px;
  font-size: 0.9em;
  height: 40px;
  width: 250px; }
  #login_panel .avatar {
    float: left;
    margin-right: 10px; }
  #login_panel .logout {
    float: right; }
    #login_panel .logout a {
      font-size: 0.8em; }
  #login_panel .username a {
    font-size: 1.1em; }

#content {
  font-family: 'Droid Sans', arial, serif;
  font-size: 1em;
  margin-top: 20px; }

#subheader {
  background: #0477bf;
  padding: 7px; }
  #subheader a {
    color: white; }
    #subheader a:hover {
      color: #35aaf2; }

#profile_pic {
  border: 1px solid #0d0d0d; }

#profile_icons {
  margin-top: 10px; }
  #profile_icons .icon {
    float: left;
    margin-right: 15px; }
    #profile_icons .icon .image {
      float: left; }
    #profile_icons .icon .score {
      float: left;
      font-size: 1.5em;
      position: relative;
      top: 15px;
      left: 10px; }

#basic_info table tr td:first-child {
  font-size: 1em;
  color: #8d8d8d;
  padding-right: 10px;
  text-transform: lowercase; }

#recent_badges {
  height: 75px; }
  #recent_badges h3 {
    width: 120px; }
  #recent_badges .badge .badge_image {
    width: 50px;
    height: 50px; }

#languages {
  height: 75px; }

#technologies {
  height: 75px; }

#disciplines {
  height: 75px; }

#current_employment {
  height: 75px; }

#top_colleagues {
  height: 75px; }

.menu {
  border-bottom: 1px solid #0477bf;
  margin: 0;
  margin-top: 15px;
  padding-bottom: 19px;
  padding-left: 10px; }
  .menu ul, .menu li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
  .menu a:link, .menu a:visited {
    background: #f2f2f2;
    border: 1px solid #0477bf;
    color: #0d0d0d;
    float: left;
    font-size: small;
    font-weight: normal;
    line-height: 14px;
    margin-right: 8px;
    padding: 2px 10px 2px 10px;
    text-decoration: none; }
  .menu a:link.active, .menu a:visited.active {
    background: white;
    border-bottom: 1px solid white;
    color: #0477bf; }
  .menu a:hover {
    color: #f00; }

.section {
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin-top: 10px; }
  .section h3 {
    position: relative;
    top: -15px;
    color: #0477bf;
    font-size: .75em;
    background: white; }

#beta_login {
  margin-top: 100px;
  margin-right: auto; }
  #beta_login p {
    margin-top: 10px; }
  #beta_login form {
    margin-top: 10px; }

#profile h2 {
  margin-bottom: 30px; }
  #profile h2 .username {
    float: left;
    font-size: 24pt; }
  #profile h2 .profile_name {
    float: left;
    font-size: 14pt;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 10px; }
  #profile h2 a {
    font-size: 10pt;
    position: relative;
    top: 14px;
    left: 10px; }

#people_search_results {
  margin-top: 20px; }
  #people_search_results hr {
    border: 1px solid #0d0d0d; }
  #people_search_results .photo {
    border: 1px solid #0d0d0d;
    float: left;
    margin-left: 20px;
    margin-right: 10px; }
  #people_search_results .person_search_result .name {
    float: left;
    font-size: 16pt;
    font-weight: bold;
    color: #0477bf; }
  #people_search_results .person_search_result .username {
    font-size: 10pt;
    padding-top: 5px;
    margin-bottom: 10px;
    position: relative;
    left: 10px; }

.points {
  margin-top: 5px; }
  .points img {
    margin-right: 5px;
    float: left; }
  .points .score {
    padding-top: 1px;
    float: left;
    margin-right: 10px; }

#guidance {
  float: right; }
