.home_tagline {
  color: #0477bf; }

hr {
  border: 1px solid #BBB;
  margin-top: 40px;
  margin-bottom: 40px; }

.home_image {
  text-align: center;
  margin-top: 20px; }

form.formtastic fieldset > ol > li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px; }
form.formtastic fieldset > ol > li label {
  color: #0d0d0d;
  text-align: right;
  width: 100px;
  padding-right: 10px;
  margin-top: 5px; }
form.formtastic fieldset > ol > li.string input, form.formtastic fieldset > ol > li.password input {
  border: 1px solid #000;
  padding: 4px;
  width: 60%; }
  form.formtastic fieldset > ol > li.string input:focus, form.formtastic fieldset > ol > li.password input:focus {
    border: 1px solid #0477bf; }

form.formtastic input.button, form.formtastic.button.button {
  padding: 0.2em 1em 0.2em 1.1em;
  font-family: sans-serif;
  height: 30px;
  margin-left: 25px;
  margin-top: 7px; }

.register {
  border: 1px solid #BBB;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 15px; }

.join_codemav {
  background: #0477bf;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  color: white;
  margin: 0px;
  border: 1px solid #BBB;
  border-bottom: 1px solid #0477bf; }

.home_module h4 {
  font-size: 12pt; }
.home_module p {
  color: #555;
  font-size: 10pt;
  letter-spacing: 1.1px; }

.follow_us_on_twitter {
  text-align: center;
  font-size: 18pt;
  padding: 20px;
  background: #FFDA7C;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #FFA83C; }
