$gray_background: #EAEAEA;
$gray_foreground: #818181;

$dark_background: #373737;
$dark_foreground: #ffffff;

$light_blue: #0477BF;
$black: #0D0D0D;

form.formtastic {
  fieldset > ol > li {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  fieldset > ol > li label {
    color:$black;
    text-align: right;
    width: 100px;
    padding-right: 10px;
    margin-top: 4px;
  }
  fieldset > ol > li.string input, fieldset > ol > li.password input {
    border: 1px solid #000;
    padding: 4px;
    width: 50%;
    &:focus {
      border: 1px solid $light_blue;
    }
  }
}













.side_description {
  font-family: "Arial";
  color: #333;
  h1 {
    margin-top: 10px;
    font-size: 32px;
  }
  p {
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1.1px;
    line-height: 130%;
  }
}

.follow_us_on_twitter {
  text-align: center;
  font-size: 18pt;
  padding: 20px;
  background: #FFDA7C;
  margin-top:15px;
  margin-bottom: 15px;
  border: 1px solid #FFA83C;
}

.home_image {
  text-align:center;
}

.home_side_module {
  padding: 5px;
  font-family: "Arial";
  letter-spacing: 1.1px;
  line-height: 150%;
  h2 {
    margin-bottom: 15px;
    margin-top: 5px;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
  }
  p {
    font-size: 14px;
    color: #333;
  }
}

