#points_explained {
  font-family: Helvetica, Arial;
  color: #3e4040;
  font-size: 14pt;
  font-weight: normal; }
  #points_explained h1 {
    font-weight: bold;
    font-size: 32pt;
    color: #0477bf; }
  #points_explained h2 {
    font-weight: bold;
    font-size: 24pt; }
  #points_explained p {
    margin-bottom: 10px; }
  #points_explained table {
    width: 450px;
    margin-bottom: 30px;
    text-align: left; }
    #points_explained table th {
      font-size: 16pt;
      font-weight: bold;
      padding-bottom: 10px;
      color: #3e4040; }
    #points_explained table .earn {
      padding-left: 30px;
      text-align: right; }
