$gray: #595959;
$light_gray: #868686;
$light_black: #3E4040;
$light_blue: #0477BF;

#points_explained {
  font-family: Helvetica, Arial;
  color: $light_black;
  font-size: 14pt;
  font-weight: normal;

  h1 {
    font-weight: bold;
    font-size: 32pt;
    color:$light_blue;
  }

  h2 {
    font-weight: bold;
    font-size: 24pt;
  }

  p {
    margin-bottom: 10px;
  }

  table {
    width: 450px;
    margin-bottom: 30px;
    text-align: left;
    th {
      font-size: 16pt;
      font-weight: bold;
      padding-bottom: 10px;
      color: $light_black;
    }
    td {

    }
    .earn {
      padding-left: 30px;
      text-align: right;
    }
  }

}
