h2 {
  border-bottom: 1px solid #ababab;
  color: #424242;
  font-size: 14pt;
  padding-bottom: 5px;
  margin-bottom: 3px; }

h3 {
  border-bottom: 1px solid #ababab;
  color: #424242;
  font-size: 12pt;
  padding-bottom: 5px;
  margin-bottom: 5px; }

#profile_header #profile_pic {
  border: 1px solid #d6d6d6;
  padding: 3px; }
#profile_header .profile_name {
  padding-top: 3px;
  color: black;
  font-size: 14pt;
  font-weight: bold;
  float: left; }
#profile_header .user_name {
  float: left;
  color: #ababab;
  font-size: 10pt;
  margin-left: 3px;
  margin-top: 7px; }
#profile_header .edit_profile_link {
  position: relative;
  left: 5px;
  top: 8px; }
#profile_header table {
  margin-top: 5px; }
#profile_header td {
  padding: 1px; }
#profile_header .email_image img {
  padding-left: 10px; }
#profile_header ul, #profile_header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
#profile_header #points li {
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #eaeaea;
  color: #818181;
  float: left;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  margin-top: 3px; }
  #profile_header #points li .points {
    font-weight: bold;
    font-size: 13pt; }
  #profile_header #points li .description {
    font-size: 10pt; }
#profile_header #points .selected {
  background: #373737;
  color: white; }

#profile_content {
  background: white;
  border: 1px solid #d6d6d6;
  border-top: 1px solid white;
  padding-bottom: 50px; }

#profile_menu {
  margin-top: 20px;
  font-size: 9pt;
  font-weight: bold; }
  #profile_menu ul {
    margin-left: -9px; }
  #profile_menu li {
    float: left;
    margin: 0px;
    margin-right: 4px;
    text-transform: uppercase;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: #3f9ff8; }
    #profile_menu li a {
      color: white; }
  #profile_menu .selected {
    border-top: 3px solid #3f9ff8;
    background: white; }
    #profile_menu .selected a {
      color: black; }

#badges li {
  float: left; }

.info_box {
  border: 1px solid #ababab;
  background: #d6d6d6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 20px;
  padding: 1px;
  width: 250px;
  font-size: 11pt; }
  .info_box .info_logo {
    background: white; }
  .info_box .info {
    padding: 5px; }
  .info_box table {
    margin-top: 10px; }
    .info_box table td {
      font-size: 1.3em; }
    .info_box table td:first-child {
      font-size: 1em;
      padding-right: 10px;
      text-transform: lowercase; }

#count_box {
  margin-top: 10px;
  margin-bottom: 10px; }
  #count_box .space {
    width: 30px; }
  #count_box .count {
    font-size: 12pt;
    font-weight: bold;
    color: #545454; }
  #count_box .count_of {
    font-size: 12pt;
    padding-left: 5px;
    color: #7E7E7E; }
