.search_results {
  margin-top: 20px; }
  .search_results li {
    border-bottom: 2px solid #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px; }
    .search_results li .profile_pic {
      float: left;
      width: 70px; }
      .search_results li .profile_pic img {
        background: #fff;
        padding: 3px;
        border: 1px solid #eaeaea; }
    .search_results li .profile_info {
      float: left;
      width: 150px;
      margin-left: 10px; }
      .search_results li .profile_info .profile_name {
        font-size: 16pt; }
      .search_results li .profile_info .profile_username {
        font-size: 10pt;
        margin-top: 5px; }
    .search_results li .points li {
      border-radius: 5px;
      -moz-border-radius: 5px;
      background: #eaeaea;
      color: #818181;
      float: left;
      text-align: center;
      padding: 5px;
      margin-right: 5px;
      margin-top: 3px; }
      .search_results li .points li .image {
        float: left; }
      .search_results li .points li .points {
        font-weight: bold;
        font-size: 13pt;
        text-align: center; }
      .search_results li .points li .description {
        font-size: 10pt; }
    .search_results li .points .selected {
      background: #373737;
      color: white; }
