h2 {
  margin-left: 5px; }

h3 {
  border-bottom: 1px solid #ababab;
  color: #424242;
  font-size: 12pt;
  padding-bottom: 5px;
  margin-bottom: 5px; }

#profile_header #profile_pic {
  border: 1px solid #d6d6d6;
  padding: 3px; }
#profile_header .profile_name {
  padding-top: 3px;
  color: black;
  font-size: 14pt;
  font-weight: bold;
  float: left; }
#profile_header .user_name {
  float: left;
  color: #ababab;
  font-size: 10pt;
  margin-left: 3px;
  margin-top: 7px; }
#profile_header .profile_actions {
  position: relative;
  left: 5px;
  top: 6px; }
  #profile_header .profile_actions a {
    font-size: 10pt; }
#profile_header table {
  margin-top: 5px;
  margin-bottom: 4px; }
#profile_header td {
  padding: 1px; }
#profile_header .location_text {
  font-size: 10pt;
  position: relative;
  top: -3px;
  left: 3px; }
#profile_header .email_image img {
  padding-left: 10px; }
#profile_header ul, #profile_header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
#profile_header #points li {
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #eaeaea;
  color: #818181;
  float: left;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  margin-top: 3px; }
  #profile_header #points li .image {
    float: left; }
  #profile_header #points li .points {
    font-weight: bold;
    font-size: 13pt; }
  #profile_header #points li .description {
    font-size: 10pt; }
#profile_header #points .selected {
  background: #373737;
  color: white; }

#profile_content {
  margin-left: 110px;
  margin-top: 20px;
  background: white;
  border: 1px solid #d6d6d6;
  border-top: 1px solid #373737;
  padding-bottom: 50px;
  padding-top: 7px;
  padding-left: 15px; }

#profile_badges {
  width: 250px;
  float: right; }

#profile_menu {
  margin-top: 20px;
  margin-right: -10px;
  font-size: 10pt;
  font-weight: bold; }
  #profile_menu ul {
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e6e6e6)); }
  #profile_menu li {
    border-top: 1px solid #373737;
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    padding: 10px;
    padding-left: 17px; }
    #profile_menu li a {
      color: #373737; }
    #profile_menu li:hover {
      border-left: 7px solid #373737;
      padding-left: 11px; }
  #profile_menu .selected {
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #363636, #4f4f4f);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#4f4f4f));
    border-right: 1px solid #373737;
    border-left: 7px solid #3f9ff8;
    padding-left: 10px; }
    #profile_menu .selected a {
      color: white; }

#event_feed {
  width: 400px; }

.list {
  width: 470px;
  margin-top: 5px; }
  .list li {
    clear: both;
    padding: 5px; }
  .list .item_pic {
    border: 2px solid #EBEBEB;
    float: left; }
    .list .item_pic img {
      width: 40px;
      height: 40px; }
  .list .item_info {
    border-bottom: 2px solid #EBEBEB;
    margin-left: 55px;
    padding-bottom: 7px;
    margin-top: 0px; }
    .list .item_info .item_title {
      margin-top: 0px;
      font-size: 11pt;
      font-weight: bold; }
      .list .item_info .item_title a {
        color: black;
        text-decoration: none; }
        .list .item_info .item_title a:hover {
          color: #3f9ff8; }
    .list .item_info .item_description {
      margin-top: 5px;
      color: #979797;
      font-size: 10pt; }
    .list .item_info .range {
      font-size: 9pt; }

#badges li {
  float: left; }

.info_box {
  width: 250px;
  float: right;
  margin-bottom: 15px;
  font-size: 11pt; }
  .info_box .info_logo {
    background: white;
    border-bottom: 1px solid #818181; }
    .info_box .info_logo .edit {
      float: right;
      padding-top: 29px; }
    .info_box .info_logo .delete {
      float: right;
      padding-top: 29px;
      margin-left: 5px; }
  .info_box .info {
    padding: 5px; }
  .info_box table {
    margin-top: 10px; }
    .info_box table td {
      font-size: 1.3em; }
    .info_box table td:first-child {
      font-size: 1em;
      padding-right: 10px;
      text-transform: lowercase; }
  .info_box h2 {
    border-bottom: 1px solid #818181;
    padding-bottom: 5px; }

.add_blog {
  float: right;
  border-radius: 3px;
  -moz-border-radius: 3px;
  /* gecko based browsers */
  background: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
  /* webkit based browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e6e6e6));
  border: 1px solid #818181;
  color: #323232;
  padding: 3px;
  margin-top: 3px;
  font-size: 10pt;
  cursor: pointer; }
  .add_blog:hover {
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #363636, #4f4f4f);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#4f4f4f));
    color: #f2f2f2;
    border: 1px solid #3f9ff8; }

.tags {
  width: 250px;
  float: right; }

#count_box {
  margin-top: 10px;
  margin-bottom: 10px; }
  #count_box .space {
    width: 30px; }
  #count_box .count {
    font-size: 12pt;
    font-weight: bold;
    color: #545454; }
  #count_box .count_of {
    font-size: 12pt;
    padding-left: 5px;
    color: #7E7E7E; }

#followings {
  margin-top: 10px; }
  #followings [data-type=following] {
    width: 225px;
    float: left;
    margin-bottom: 7px;
    margin-right: 3px; }
  #followings .following_pic {
    float: left;
    border: 1px solid #d6d6d6;
    padding: 3px; }
  #followings .following_info {
    float: left;
    margin-left: 7px; }
    #followings .following_info .following_username {
      font-size: 12pt;
      margin-bottom: 5px; }
    #followings .following_info .following_points li {
      border-radius: 5px;
      -moz-border-radius: 5px;
      background: #eaeaea;
      color: #818181;
      float: left;
      text-align: center;
      padding: 3px;
      margin-right: 3px;
      margin-top: 3px; }
      #followings .following_info .following_points li .points {
        font-weight: bold;
        font-size: 8pt; }
      #followings .following_info .following_points li .description {
        font-size: 7pt; }
    #followings .following_info .following_points .stack_overflow {
      width: 50px; }
      #followings .following_info .following_points .stack_overflow img {
        width: 20px;
        float: left; }

.blog_title a {
  padding: 10px;
  text-transform: capitalize;
  font-size: 12pt; }

.info_box ul li .links {
  margin-top: 5px;
  float: right; }
  .info_box ul li .links a {
    font-size: 10pt; }
    .info_box ul li .links a:hover {
      text-decoration: underline; }

.sync_error {
  color: #990000; }

#stack_overflow_questions {
  margin-top: 10px; }
  #stack_overflow_questions li {
    margin-bottom: 10px;
    margin-left: 15px; }

#stack_overflow_answers {
  margin-top: 30px; }
  #stack_overflow_answers li {
    margin-bottom: 10px;
    margin-left: 15px; }
