$black: #000000;
$white: #ffffff;
$near_black: #424242;
$light_gray: #ABABAB;
$lightest_gray: #D6D6D6;
$blue: #3F9FF8;

$gray_background: #EAEAEA;
$gray_foreground: #818181;

$dark_background: #373737;
$dark_foreground: #ffffff;

@mixin corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;  
}

h2 {
  border-bottom: 1px solid $light_gray;
  color: $near_black;
  font-size: 14pt;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

h3 {
  border-bottom: 1px solid $light_gray;
  color: $near_black;
  font-size: 12pt;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#profile_header {
  #profile_pic {
    border: 1px solid $lightest_gray;
    padding: 3px;
  }
  .profile_name {
    padding-top: 3px;
    color: $black;
    font-size: 14pt;
    font-weight: bold;
    float: left;
  }
  .user_name {
    float: left;
    color: $light_gray;
    font-size: 10pt;
    margin-left: 3px;
    margin-top: 7px;
  }
  .edit_profile_link {
    position:relative;
    left: 5px;
    top: 8px;
  }
  table {
    margin-top: 5px;
  }
  td {
    padding: 1px;
  }
  .location_image {
  }
  .email_image {
    img {
      padding-left: 10px;
    }
  }
  ul, li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;   
  }
  #points {
    li {
      @include corners;
      background: $gray_background;
      color: $gray_foreground;
      float: left;
      text-align:center;
      padding: 5px;
      margin-right: 5px;
      margin-top: 3px;
      .image {
        float: left;
      }
      .points {
        font-weight:bold;
        font-size: 13pt;
      }
      .description {
        font-size: 10pt;
      }
    }
    .selected {
      background: $dark_background;
      color: $dark_foreground;
    }
  }
}

#profile_content {
  background: $white;
  border: 1px solid $lightest_gray;
  border-top: 1px solid $white;
  padding-bottom: 50px;
}

#profile_menu {
  margin-top: 20px;
  font-size: 9pt;
  font-weight: bold;
  ul {
    margin-left: -9px;
  }
  li {
    float: left;
    margin: 0px;
    margin-right: 4px;
    text-transform: uppercase;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: $blue;
    a {
      color: $white;
    }
  }
  .selected {
    border-top: 3px solid $blue;
    background: $white;
    a {
      color: $black;
    }
  }
}

#badges {
  li {
    float: left;
  }
}

.info_box {
  border: 1px solid $light_gray;
  background: $lightest_gray;
  @include corners;
  margin-top:20px;
  padding: 1px;
  width: 250px;
  .info_logo {
    background: $white;
  }
  .info {
    padding: 5px;
  }
  font-size: 11pt;
  table {
    margin-top: 10px;
    td {
      font-size:1.3em;
    }
    td:first-child {
      font-size:1em;
      padding-right: 10px;
      text-transform: lowercase;
    }
  }
}

#count_box {
 margin-top: 10px;
 margin-bottom: 10px;
 .space{
    width: 30px;
  }
  .count {
    font-size: 12pt;
    font-weight:bold;
    color: #545454;
  }
  .count_of {
    font-size: 12pt;
    padding-left: 5px;
    color: #7E7E7E;
  }
}

