h2 {
  border-bottom: 1px solid #ababab;
  color: #424242;
  font-size: 14pt;
  padding-bottom: 5px;
  margin-bottom: 3px; }

h3 {
  border-bottom: 1px solid #ababab;
  color: #424242;
  font-size: 12pt;
  padding-bottom: 5px;
  margin-bottom: 5px; }

#profile_header #profile_pic {
  border: 1px solid #d6d6d6;
  padding: 3px; }
#profile_header .profile_name {
  padding-top: 3px;
  color: black;
  font-size: 14pt;
  font-weight: bold;
  float: left; }
#profile_header .user_name {
  float: left;
  color: #ababab;
  font-size: 10pt;
  margin-left: 3px;
  margin-top: 7px; }
#profile_header .profile_actions {
  position: relative;
  left: 5px;
  top: 8px; }
#profile_header table {
  margin-top: 5px;
  margin-bottom: 4px; }
#profile_header td {
  padding: 1px; }
#profile_header .email_image img {
  padding-left: 10px; }
#profile_header ul, #profile_header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
#profile_header #points li {
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #eaeaea;
  color: #818181;
  float: left;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  margin-top: 3px; }
  #profile_header #points li .image {
    float: left; }
  #profile_header #points li .points {
    font-weight: bold;
    font-size: 13pt; }
  #profile_header #points li .description {
    font-size: 10pt; }
#profile_header #points .selected {
  background: #373737;
  color: white; }

#profile_content {
  margin-left: 110px;
  margin-top: 20px;
  background: white;
  border: 1px solid #d6d6d6;
  border-top: 1px solid #373737;
  padding-bottom: 50px;
  padding-top: 7px;
  padding-left: 15px; }

#profile_menu {
  margin-top: 20px;
  margin-right: -10px;
  font-size: 10pt;
  font-weight: bold; }
  #profile_menu ul {
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e6e6e6)); }
  #profile_menu li {
    border-top: 1px solid #373737;
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    padding: 10px;
    padding-left: 17px; }
    #profile_menu li a {
      color: #373737; }
    #profile_menu li:hover {
      border-left: 7px solid #373737;
      padding-left: 11px; }
  #profile_menu .selected {
    /* gecko based browsers */
    background: -moz-linear-gradient(top, #363636, #4f4f4f);
    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#4f4f4f));
    border-right: 1px solid #373737;
    border-left: 7px solid #3f9ff8;
    padding-left: 10px; }
    #profile_menu .selected a {
      color: white; }

#event_feed {
  width: 400px; }

#events {
  width: 400px;
  margin-top: 5px; }
  #events li {
    clear: both;
    padding: 5px; }
  #events .item_pic {
    border: 2px solid #EBEBEB;
    float: left; }
    #events .item_pic img {
      width: 40px;
      height: 40px; }
  #events .item_info {
    border-bottom: 2px solid #EBEBEB;
    margin-left: 53px;
    padding-bottom: 7px;
    margin-top: 0px; }
    #events .item_info .item_title {
      margin-top: 0px;
      font-size: 11pt;
      font-weight: bold; }
      #events .item_info .item_title a {
        color: black;
        text-decoration: none; }
        #events .item_info .item_title a:hover {
          color: #3f9ff8; }
    #events .item_info .item_description {
      margin-top: 5px;
      color: #979797;
      font-size: 10pt; }

#badges li {
  float: left; }

.info_box {
  border: 1px solid #ababab;
  background: #d6d6d6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 20px;
  padding: 1px;
  width: 250px;
  font-size: 11pt; }
  .info_box .info_logo {
    background: white; }
    .info_box .info_logo .edit {
      float: right;
      padding-top: 29px; }
    .info_box .info_logo .delete {
      float: right;
      padding-top: 29px;
      margin-left: 5px; }
  .info_box .info {
    padding: 5px; }
  .info_box table {
    margin-top: 10px; }
    .info_box table td {
      font-size: 1.3em; }
    .info_box table td:first-child {
      font-size: 1em;
      padding-right: 10px;
      text-transform: lowercase; }

#count_box {
  margin-top: 10px;
  margin-bottom: 10px; }
  #count_box .space {
    width: 30px; }
  #count_box .count {
    font-size: 12pt;
    font-weight: bold;
    color: #545454; }
  #count_box .count_of {
    font-size: 12pt;
    padding-left: 5px;
    color: #7E7E7E; }

#followings [data-type=following] {
  width: 170px;
  float: left;
  margin-bottom: 7px;
  margin-right: 3px; }
#followings .following_pic {
  float: left;
  border: 1px solid #d6d6d6;
  padding: 3px; }
#followings .following_info {
  float: left;
  margin-left: 7px; }
  #followings .following_info .following_username {
    font-size: 12pt;
    margin-bottom: 5px; }
  #followings .following_info .following_points li {
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #eaeaea;
    color: #818181;
    float: left;
    text-align: center;
    padding: 3px;
    margin-right: 3px;
    margin-top: 3px; }
    #followings .following_info .following_points li .points {
      font-weight: bold;
      font-size: 8pt; }
    #followings .following_info .following_points li .description {
      font-size: 7pt; }
  #followings .following_info .following_points .stack_overflow {
    width: 50px; }
    #followings .following_info .following_points .stack_overflow img {
      width: 20px;
      float: left; }

.blog_title {
  padding: 10px; }

.sync_error {
  color: #990000; }
