$gray_background: #EAEAEA;
$gray_foreground: #818181;

$dark_background: #373737;
$dark_foreground: #ffffff;
$emphasis_dark_background: #1A1A1A;
$light_black: #202121;

@mixin corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;  
}

#talk_search_form {
  text-align:center;
  font-size: 14pt;
  [type=text] {
    font-size: 14pt;
    width: 500px;
  }
}

#no_results {
  font-size: 18pt;
  text-align:center;
  margin-top: 20px;
  color: $light_black;
}

.search_results {
  margin-top: 20px;
  li {
    border-bottom: 2px solid #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px;
    .talk_pic {
      float: left;
      img {
        background: #fff;
        padding: 3px;
        border: 1px solid $gray_background;
        width: 100px;
      }
    }
    .talk_info {
      float: left;
      width: 500px;
      margin-left: 10px;
      .talk_title {
        font-size: 16pt;
      }
      .talk_description {
        font-size: 10pt;
        margin-top: 5px;
      }
    }
    .talk_author {
      float: left;
      margin-left: 20px;
      .talk_profile_name {
        float: left;
        font-size: 14pt;
        margin-top: 5px;
        margin-left: 10px;
      }
      .talk_profile_pic {
        float: left;
        img {
          background: #fff;
          padding: 3px;
          border: 1px solid $gray_background;
        }
      }
    }
  }
}



