$dark_background: #373737;
$dark_foreground: #ffffff;

#talk {
  .talk_pic {
    img  {
      width: 160px;
    }
  }
  .talk-description {
    font-size: 10pt;
  }
  .talk_options {
    margin-top: 10px;
    img {
      width: 25px;
    }
    ul {
      li {
        float: left;
        margin-right: 15px;
      }
    }
  }
  .talk_author {
    margin-top: 10px;
  }
}

.overlay {
  display:none;
  padding:20px;
  background-color: #ffffff;
  border: 7px solid $dark_background;
}

.overlay .close {
  background-image:url(../images/overlay/close.png);
  position:absolute; right:0px; top:0px;
  cursor:pointer;
  height:35px;
  width:35px;
}
