#talk_search_form {
  text-align: center;
  font-size: 14pt; }
  #talk_search_form [type=text] {
    font-size: 14pt;
    width: 500px; }

#no_results {
  font-size: 18pt;
  text-align: center;
  margin-top: 20px;
  color: #202121; }

.search_results {
  margin-top: 20px; }
  .search_results li {
    border-bottom: 2px solid #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px; }
    .search_results li .talk_pic {
      float: left; }
      .search_results li .talk_pic img {
        background: #fff;
        padding: 3px;
        border: 1px solid #eaeaea;
        width: 100px; }
    .search_results li .talk_info {
      float: left;
      width: 500px;
      margin-left: 10px; }
      .search_results li .talk_info .talk_title {
        font-size: 16pt; }
      .search_results li .talk_info .talk_description {
        font-size: 10pt;
        margin-top: 5px; }
      .search_results li .talk_info .tags {
        margin-top: 5px; }
    .search_results li .talk_author {
      float: left;
      margin-left: 20px; }
      .search_results li .talk_author .talk_profile_name {
        float: left;
        font-size: 14pt;
        margin-top: 5px;
        margin-left: 10px; }
      .search_results li .talk_author .talk_profile_pic {
        float: left; }
        .search_results li .talk_author .talk_profile_pic img {
          background: #fff;
          padding: 3px;
          border: 1px solid #eaeaea; }
