#profile_pic {
  border: 1px solid #d6d6d6;
  padding: 3px; }

.profile_info {
  padding-left: 10px;
  vertical-align: top; }
  .profile_info .name {
    font-size: 14pt;
    margin-top: 10px; }
  .profile_info .username {
    font-size: 12pt;
    font-weight: bold; }

.score_title {
  padding-left: 10px; }

.score {
  cell-padding: 5px; }
  .score p {
    background: #373737;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 45px;
    text-align: center;
    padding-top: 10px;
    font-size: 14pt;
    font-weight: bold; }

#slide_share {
  border-bottom: 1px solid #d6d6d6; }

#slideshow {
  margin-left: 60px; }

#speaker_rate {
  margin-top: 15px;
  margin-bottom: 20px; }
  #speaker_rate h3 {
    border-bottom: 1px solid #d6d6d6; }

#talk_description {
  margin-bottom: 20px; }
