%p Your GitHub username is simply the username you login with.
= form_for [@profile, @git_hub_profile] do |f|
  .label= f.label :username, "GitHub username"
  .control= f.text_field :username
  .submit= f.submit "Save", :disable_with => "Saving..."

