
.grid_16
  %h2 Sync with your GitHub Account

  %p You can find your GitHub username by looking at the url for your profile. Or just what username you use to login.
  = image_tag "git_hub_find_id.png"
  %p Just go to GitHub, find your id, and enter it here. We can then sync your GitHub profile with your account.
  
  = render :partial => "form"
  
.clear
