- if current_profile
  - if can? :follow, profile
    - if current_profile.follows? profile
      = semantic_form_for [profile, current_profile.following_for(profile)], :remote => true, :html => { :method => :delete } do |f|
        = big_primary_button_submit_tag "Following", :disable_with => "Unfollowing...", :id => "unfollow"
    - else
      = semantic_form_for [profile, Following.new], :remote => true do |f|
        = big_primary_button_submit_tag "Follow", :disable_with => "Following...", :id => "follow"