#menu
	= link_to "Search", new_people_search_path
	/ = link_to "StackOverflow Scoreboard", stack_overflow_scoreboards_path
	/ = link_to "Companies", companies_path
	/ = link_to "User Groups", user_groups_path