.tags
  %h3 Tags
  / - if taggable.nil? || taggable.taggings.empty?
  /   No tags 
  / - else
  /   - taggable.taggings_by_score.each do |tagging|
  /     .tag
  /       .tag_score= number_with_precision tagging.score, :precision => 0
  /       = tagging