<div id="dev_journey_chart">
</div>

<script type="text/javascript">
        var xAxis, yAxis;
        var x, y, g, h, w;
        var line, area;
        
        function show_jobs() {
          console.log("show jobs");
          var data = <%= @dev_journey_jobs_data[:javascript_data].html_safe %>;
          
          g.selectAll(".job_start_line")
                          .data(data)
                          .enter()
                          .append("svg:line")
                          .attr("class", "job_start_line")
                          .attr("x1", function(d) {
                              return x(d.StartDate);
                          })
                          .attr("y1", function(d) {
                              return 0;
                          })
                          .attr("x2", function(d) {
                              return x(d.StartDate);
                          })
                          .attr("y2", function(d) {
                              return h;
                          });

                  g.selectAll(".job_label")
                          .data(data)
                          .enter()
                          .append("svg:text")
                          .attr("class", "job_label")
                          .text(function(d) {
                              return d.CompanyName;
                          })
                          .attr("x", function(d) {
                              return x(d.StartDate);
                          })
                          .attr("y", function(d) {
                              return -4;
                          })
                          .attr("text-anchor", "left")
                          .attr("transform", function(d) {
                              return "rotate(90 " + x(d.StartDate) + " 0)translate(4,0)";
                          });
        }

        $(document).ready(function() {
            var data = <%= @dev_journey_data[:javascript_data].html_safe %>;

            w = 940;
            h = 200;
            var margin = 30;
            x = d3.time.scale().range([0, w - margin]).domain([Date.parse("<%= @dev_journey_data[:start_date] %>"), Date.today()]);
            y = d3.scale.linear().range([h - margin, 0 + margin]).domain([0, <%= @dev_journey_data[:highest_score] %>]);
            xAxis = d3.svg.axis().scale(x).orient("bottom").tickSize(-h, 0).tickPadding(6).ticks(4);
            yAxis = d3.svg.axis().scale(y).orient("right").tickSize(-w).tickPadding(6);

            var vis = d3.select("#dev_journey_chart")
                    .append("svg:svg")
                    .attr("width", w)
                    .attr("height", h);

            g = vis.append("svg:g");

            g.append("svg:g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + (w - margin) + ",0)");

            g.append("svg:g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + (h - margin) + ")");

            line = d3.svg.line()
                    .interpolate("linear")
                    .x(function(d) {
                        return x(d.date);
                    })
                    .y(function(d) {
                        return y(d.score);
                    });

            area = d3.svg.area()
                    .interpolate("linear")
                    .x(function(d) {
                        return x(d.date);
                    })
                    .y0(y(0))
                    .y1(function(d) {
                        return y(d.score);
                    });

            g.select("g.x.axis").call(xAxis);
            g.select("g.y.axis").call(yAxis);

            _.each(data, function(d) {
                console.log(d.Name);
                console.log(d.Data);

                g.append("svg:path")
                        .attr("class", "area " + d.name);

                g.append("svg:path")
                        .attr("class", "line " + d.name);

                g.select("path.area." + d.name).data([d.data]).attr("d", area);
                g.select("path.line." + d.name).data([d.data]).attr("d", line);
            });
            
            show_jobs();
        });

</script>