.grid_16
  %h1 Your widgets

  = javascript_include_tag widget_profile_url(@profile)

  %br

  %p Just copy and paste the markup in the text area to your blog markup where you would like to place the widget.

  = text_area_tag :text, basic_widget_html(@profile), :rows => 10, :cols => 50
