.grid_16
  %h1 Your widgets

  = javascript_include_tag widget_profile_url(@profile)

  :css
    .codemav_basic_widget {
      background: #fff;
      width: 300px;
      height: 100px;
      padding: 7px;
      border: 1px solid #AAA;
    }
    .codemav_username {
      font-size: 16px;
    }


   
