
<script type="text/javascript" charset="utf-8">

	$(function() {

		var options = {
		    chart: {
		        renderTo: 'chart-container',
		        defaultSeriesType: 'bar'
		    },
				title: {
					text: 'Experience'
				},
				xAxis: {
				         categories: ["Experience"],
				         title: {
				            text: null
				         }
				      },
				series: []
		};
		
		<% @profile.experiences.each do |e| %>
			options.series.push({
				name: '<%= e.name %>',
				data: [<%= e.duration.total %>]
			});
		<% end %>
		var chart = new Highcharts.Chart(options);
	});
	


</script>

<div id="chart-container"></div>
	