
<script type="text/javascript" charset="utf-8">

	$(function() {

		var options = {
		    chart: {
		        renderTo: 'chart-container',
		        defaultSeriesType: 'bar',
						width: 400,
		    },
				title: {
					text: 'Experience'
				},
				xAxis: {
				         categories: [<%= @profile.experiences.map{|e| "'#{e.name}'"}.join(",") %>],
				         title: {
				            text: null
				         }
				      },
				series: []
		};
		
		
			options.series.push({
				name: 'Experience',
				data: [<%= @profile.experiences.map{|e| e.duration.total }.join(",") %>]
			});
		
		var chart = new Highcharts.Chart(options);
	});
	


</script>

<div id="chart-container"></div>
	