
<script type="text/javascript" charset="utf-8">

	$(function() {

		var options = {
		    chart: {
		        renderTo: 'chart-container',
		        defaultSeriesType: 'bar',
						width: 400,
		    },
				title: {
					text: 'Experience'
				},
				xAxis: {
				         categories: [" "],
				         title: {
				            text: null
				         }
				      },
				yAxis: {
				         min: 0,
				         title: {
				            text: "Weeks"
				         }
				      },
				tooltip: {
				         formatter: function() {
				            return ''+
				                this.series.name +': '+ this.y +' weeks';
				         }
				      },
				series: []
		};
		
		<% @profile.experiences.each do |e| %>
			options.series.push({
				name: '<%= e.name %>',
				data: [<%= e.duration.weeks %>]
			});
		<% end %>
		
		var chart = new Highcharts.Chart(options);
	});
	


</script>

<div id="chart-container"></div>
	