
<script type="text/javascript" charset="utf-8">

	$(function() {

		var options = {
		    chart: {
		        renderTo: 'score-chart-container',

		    },
				title: {
					text: 'CodeMav Score'
				},
				plotArea: {
				         shadow: null,
				         borderWidth: null,
				         backgroundColor: null
				      },
				tooltip: {
				         formatter: function() {
				            return ''+
				                this.point.name +': '+ this.y +' points';
				         }
				      },
				plotOptions: {
				         pie: {
				            allowPointSelect: true,
				            cursor: 'pointer',
				            dataLabels: {
				               enabled: true,
				               color: '#000000',
				               connectorColor: '#000000',
				               formatter: function() {
				                  return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
				               }
				            }
				         }
				      },
		       series: [{
		         type: 'pie',
		         name: 'Browser share',
		         data: [
							['Coder', <%= @profile.score(:coder_points) %>],
	            ['Speaker', <%= @profile.score(:speaker_points) %>],
	            ['Writer', <%= @profile.score(:writer_points) %>]
		         ]
		      }]
		};
		

		var chart = new Highcharts.Chart(options);
	});
	


</script>

<div id="score-chart-container"></div>
