- content_for :title do
  Welcome to CodeMav

.hero-unit#home
  %h1 Welcome to CodeMav  
  .home_image
    = image_tag "homepage/home_services.png"
  %p.home_tagline Consolidate your profiles to create your definitive developer identity.
  = link_to "Sign up", new_user_registration_path, :class => "btn primary large"

.row
  .span-one-third
    %h4 Consolidate profiles.
    %p
      Consolidate all your online profiles, from GitHub to SlideShare to LinkedIn and more, to create your definitive developer identity.
  .span-one-third
    %h4 Earn Recognition.
    %p
      Earn points for your developer activities, including blogging, giving talks, and contributing to open source projects. The more popular the activity, the more points you earn.
  .span-one-third
    %h4 Stay connected.
    %p
      Stay up-to-date with what your fellow developers are doing. Find out about events happening near you, discover open source projects that need contributions, and build your network.
