.grid_16.text_content
  %h1 Welcome 

  %p
    CodeMav is where developers can come to setup their definitive online profile. A developer can synch with all the disparate services they use and contribute to. Now in one location you can find your friends and coworkers blogs, twitter account, StackOverflow reputation, and their speaking materials.

  %p 
    = link_to "Setup an account", new_user_registration_path
    and start synching with your other online presences. Along the way you can earn badges and points... because inside every developer is a bit of competition.

  %p CodeMav is currently beta but we wanted people to start using the system because even the basic features are exciting. 

  %p Have a suggestion for CodeMav? Please use the feedback tab. We have a lot of ideas on what we want to add but your voice can direct which features get completed first.

  %p 
    CodeMav is dedicated to exposing a API for other systems so be sure to check out our 
    = link_to "API documentation", api_documentation_path
    = "."
