= content_for :css do
  = stylesheet_link_tag "points"

#points_explained.grid_16
  %h1 Points explained.

  %p Every user on CodeMav earns points for their activity.

  %h2 Total

  %p The total point value is the sum of all the other category points.

  %h2 Experience

  %p Currently we do not score experience.

  %h2 Knowledge

  %table
    %tr
      %th For...
      %th.earn You earn...
    %tr
      %td Having a Stackoverflow account
      %td.earn 10
    %tr 
      %td Your Stackoverflow reputation
      %td.earn Your rep / 100

  %h2 Code

  %table
    %tr
      %th For...
      %th.earn You earn...
    %tr
      %td Having a Github account
      %td.earn 10
    %tr
      %td Having a Bitbucket account
      %td.earn 10
    %tr
      %td For each repository
      %td.earn 1
    %tr
      %td For each watcher on a repository
      %td.earn .1
    %tr
      %td For each fork on a repository
      %td.earn .15

  %h2 Writing

  %table
    %tr
      %th For...
      %th.earn You earn...
    %tr
      %td Having a blog
      %td.earn 10
    %tr
      %td Each post
      %td.earn 3

  %h2 Speaking

  %table
    %tr
      %th For...
      %th.earn You earn...
    %tr
      %td Having a SpeakerRate account
      %td.earn 10
    %tr
      %td Having a SlideShare account
      %td.earn 10
    %tr
      %td Each talk
      %td.earn 10

  %h2 Social

  %table
    %tr
      %th For...
      %th.earn You earn...
    %tr
      %td Having a Twitter account
      %td.earn 10


.clear
