
%h2 Your jobs on LinkedIn

= form_tag confirm_linkedin_profiles_path, :method => :post do
  = hidden_field_tag :username, @profile.username
  .submit= submit_tag "Add Jobs", :disable_with => "Adding Jobs..."

%ul.list
  - @jobs.each do |j|
    = render :partial => "jobs/job", :locals => { :job => j }

