.grid_16
	%h2= @talk.title

	= link_to "Add Presentation", new_my_talk_presentation_path(@talk)
	%h3 Presented on
	%ul
		- @talk.presentations.each do |p|
			%li= show_date p.presentation_date
			
.clear