@import "bourbon";
//@import "reset";
@import "bootstrap";
@import "bootstrap_codemav";
// @import "960";
@import "mixins";
@import "modular-scale";
// @import "css3buttons";
@import "colors";
// @import "typography";
// @import "lists";
// @import "formtastic";
// @import "forms";
// @import "formtastic_changes";
// @import "codemav";
@import "bootstrap_profile";
@import "profile_experience";
@import "profile_search";
@import "tags";
@import "profile_speaking";
@import "profile_social";
@import "syncable_profile";
@import "talk_search";
@import "activity";
// @import "points_explained";
@import "talk";
@import "skill_pie";
@import "dev_journey";
@import "tagit-blue";
// @import "codemav_tagit";
// @import "home";


/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
*/

.profile_pic {
  width: 90px;
}

#content {
  margin-top: 80px;
}






