$font-black: #333;
$font-de-emphasis: lighten($font-black, 30%);
$font-emphasis: darken($font-black, 30%);

$codemav-blue: #0477BF;

$black: #333;


$form-button-font-color: $font-black;
$form-button-hover-font-color: #ffffff;


$gray_background: #EAEAEA;
$gray_foreground: #818181;
$gray_text: #323232;
$gray_gradient1: #E6E6E6;
$gray_gradient2: #F4F4F4;

$lightest_blue: #73B2D9;
$light_blue: #0477BF;
$blue: #0477BF;
$dark_blue: #001626;
$not_quite_as_dark_blue: #003459;
$hover_blue: #3F9FF8;


$off_white: #F2F2F2;
$dark_gray: #8d8d8d;
$gray: #595959;
$light_gray: #868686;
$light_black: #202121;
$contrast: #E03F00;
$white: #FFFFFF;
$offwhite: #EEEEEE;
$brown: #6F4200;
$error_background:#F0A8A8;
$error_border:#990000;

$dark_background: #373737;
$dark_foreground: #ffffff;
$dark_gradient1: #363636;
$dark_gradient2: #4F4F4F; 
$emphasis_dark_background: #1A1A1A;

$gradient_top: #2568C0;
$gradient_bottom: #4792E8;

$lightest_gray: #D6D6D6;