#dev_journey_chart {
  margin-bottom: 16px;
  .axis {
      shape-rendering: crispEdges;
  }

  .y.axis line {
      stroke: #ddd;
  }

  .x.axis line {
      opacity: 0;
  }

  .axis path {
      fill: none;
      stroke-width: .5px;
  }

  path.line {
      fill: none;
      stroke: blue;
      stroke-width: .5px;
  }

  path.area {
      opacity: .6;
  }
  
  .job_start_line {
      stroke: #000;
      opacity: 0.9;
  }
}