@import "colors.scss";
@import "mixins.scss";

$form_font_size: 10pt;
$form_top_margin:10px;
form {
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .label {
    margin-top:$form_top_margin;
  }
  .instructions {
    font-size: 16pt;
    margin-top: 30px;
    margin-bottom: 30px;
  } 
  label {
    color:$black;
    font-size:$form_font_size+2;
  }
  input {
    font-size:$form_font_size;
    margin-top:$form_top_margin;
    border: 1px solid $gray;
    padding: 4px;
    &:focus {
      border: 1px solid $light_blue;
    }
  }
  //input[type=submit] {
  //  @include corners(3px);
  //  @include gradient($gray_gradient2, $gray_gradient1);
  //  border: 1px solid $gray_foreground;
  //  color: $gray_text;
  //  padding: 7px;
  //  font-size: $form_font_size + 1pt;
  //  cursor: pointer;
  //  &:hover {
  //    @include gradient($dark_gradient1, $dark_gradient2);
  //    color: $off_white;
  //    border: 1px solid $blue;
  //  }
  //}
  select {
    font-size:$form_font_size;
    margin-top:$form_top_margin;
    padding: 4px;
  }
  textarea {
    font-size:$form_font_size;
    margin-top:$form_top_margin;
    height: 100px;
    border: 1px solid $gray;
    padding: 4px;
    &:focus {
      border: 1px solid $light_blue;
    }
  }
}


form.formtastic {
  fieldset > ol > li {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;;
  }
  fieldset > ol > li label {
    color:$black;
    text-align: right;
    width: 100px;
    padding-right: 10px;
    margin-top: 5px;
  }
  fieldset > ol > li.string input, fieldset > ol > li.password input, fieldset > ol > li textarea {
    border: 1px solid #000;
    padding: 4px;
    width: 60%;
    &:focus {
      border: 1px solid $light_blue;
    }
  }
  fieldset.buttons {
    padding-left: 100px;
  }
}

form.formtastic input.button, form.formtastic.button.button {
  padding: 0.2em 1em 0.2em 1.1em;
  font-family: sans-serif;
  height: 30px;
  margin-left: 10px;
  margin-top: 7px;
}