@import "colors.scss";

#home {
  .home_tagline {
    margin-bottom: ms(1);
  }
  .home_image {
    text-align:center;
    margin-top: 26px;
  }
  hr {
    border: 1px solid lighten($dark_background, 60%);
    margin-top: ms(1);
    margin-bottom: ms(1);
  }
  .home_module {
    h4 {
      font-size: ms(0);
      margin-bottom: ms(-1);
    }
    p {
      font-size: ms(0);
    }
  }  
  form.formtastic {
    fieldset > ol > li {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 5px;;
    }
    fieldset > ol > li label {
      color:$black;
      text-align: right;
      width: 100px;
      padding-right: 10px;
      margin-top: 5px;
    }
    fieldset > ol > li.string input, fieldset > ol > li.password input {
      padding: 4px;
      width: 60%;
      &:focus {
        border: 1px solid $light_blue;
      }
    }
  }
  h3 {
    border-bottom: 4px solid $codemav-blue;
    font-size: ms(0);
    margin-bottom: ms(0);
  }
  .button {
    padding: 0.2em 1em 0.2em 1.1em;
    height: 30px;
    float: right;
    margin-right: 26px;
  }
  // .join_codemav {
  //   background: $blue;  
  //   padding-top: 7px;
  //   padding-bottom: 7px;
  //   padding-left: 7px;
  //   color: white;
  //   margin: 0px;
  //   border: 1px solid #BBB;
  //   border-bottom: 1px solid $blue;
  // }
  // .register {
  //   border: 1px solid #BBB;
  //   background: #fff;
  //   padding-top: 10px;
  //   padding-bottom: 15px;
  // }
}


// 

// 

// 

// 

// 

// 

// 
// .follow_us_on_twitter {
//   text-align: center;
//   font-size: 18pt;
//   padding: 20px;
//   background: #FFDA7C;
//   margin-top:15px;
//   margin-bottom: 15px;
//   border: 1px solid #FFA83C;
// }

