@import "colors";
@import "mixins";

#profile_side_bar {
	@include box-shadow(0px 5px 5px lighten($black, 10%));
	border: 1px solid lighten($dark_background, 30%);
	#profile_menu {
	  ul {
	    @include gradient($dark_background, darken($dark_background, 2%));
	  }
	  li {
		  padding-top: 10px;
		  padding-bottom: 10px;
		  border-bottom: 1px solid lighten($dark_background, 30%);
			.points {
				display: inline;
				float: right;
				font-weight: bold;
				margin-right: 4px;
				color: lighten($dark_background, 0%);
				background: lighten($dark_background, 50%);
        padding-left: 4px;
        padding-right: 4px;
        width: 26px;
        text-align: right;
        @include border-radius(4px);
			}
			.title {
				display: inline;
				margin-left: 10px;
				font-weight: bold;
			}
		  a {
		    color: lighten($dark_background, 70%);
  			&:hover {
  	    }
	    }
	  }
	  .selected {	    
	    @include gradient(lighten($codemav-blue, 10%), $codemav-blue);
	    color: lighten($codemav-blue, 70%);
	    .points {
				color: lighten($codemav-blue, 0%);
				background: lighten($codemav-blue, 50%);	      
	    }
	    a {
	    }
	  }
	}
}

#profile {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: ms(1);
    line-height: ms(1) * 1.2;
    border-bottom: 1px solid lighten($black, 20%);
    margin-bottom: ms(-1);
  }
  section {
    margin-top: ms(1);
  }
  ul#profile_actions {
    margin-bottom: ms(0);
  }
}

ul#important_stats {
  li {
    display: inline;
    font-size: ms(1);
    margin-right: 26px;
    img {
      position: relative;
      top: 4px;
    }
  }
}

#syncables {
  margin-top: ms(1);
  ul {
    li {
      padding: ms(-3);
    }
    .syncable_logo {
      float: left;
      margin-right: ms(-1);
      width: 125px;
    }
    .syncable_info {
      float: left;
      margin-right: ms(-1);
      width: ms(6);
      span {
        margin-right: ms(-2);
      }      
      a {
        font-size: ms(1);
      }      
    }
    .button-group {
      margin-top: ms(-2);
    }
  }
}

.speaker_rate_rating {
  font-size: ms(1);
  font-weight: bold;
}

#jobs {
  margin-top: ms(1);
  ul {
    li {
      margin-bottom: ms(1);
      .title {
        font-size: ms(1);
        font-weight: bold;
        border-bottom: 1px solid lighten($dark_background, 30%);
        margin-bottom: ms(-1);
        span {
          float: right;
          font-size: ms(0);
          font-weight: normal;
          margin-top: 14px;
        }
      }
      p {
        margin-top: ms(-1);
      }
    }
  }
}

#talks {
  margin-top: ms(1);
  .link {
    margin-bottom: ms(-1);
  }
  ul {    
    li {
      margin-top: ms(-1);
      .preview_pic {      
        float: left;
        margin-right: ms(-1);
        border: 1px solid $black;
        img {
          width: 110px;
        }
      }
      .talk_info {
        .talk_title {
          font-weight: bold;
          font-size: ms(1);
        }
        .talk_description {
          color: lighten($black, 20%);
          font-size: 12px;
          width: 348px;
          margin-left: 110px;
        }
      }
    }
  }
}
