#jobs {
  margin-top: ms(1);
  ul {
    li {
      margin-bottom: ms(1);
      .title {
        font-size: ms(1);
        font-weight: bold;
        border-bottom: 1px solid lighten($dark_background, 30%);
        margin-bottom: ms(-1);
        span {
          float: right;
          font-size: ms(0);
          font-weight: normal;
          margin-top: 14px;
        }
      }
      p {
        margin-top: ms(-1);
      }
    }
  }
}