#syncables {
  h3 {
    border-bottom: 1px solid #ddd;
  }
  section {
    margin-bottom: 42px;
  }
  ul {
    margin-top: 10px;
    li {
      form {
        // margin-top: 6px;
      }
      input[type=text] {
        margin-top: 6px;
      }
    }
  }
}

.sync_error {
  border-color: #EE5F5B;
}
.sync_error_msg {
  color: #EE5F5B;
}

.sync_actions {
  padding-top: 5px;
}

.sync_what_is {
  padding-top: 5px;
  font-size: 12px;
}