ul.tags {
  margin-top: 6px;
  li {  
    @include corners;
    border: 1px solid #EAEAEA;
    padding: 3px;
    font-size: 10pt;
    display: inline;
    margin-right: 10px;
    .tag_score {
      @include corners;
      background: #EAEAEA;
      display: inline;
      margin-right: 5px;
      color: #686868;
      padding: 1px;
      font-size: 9pt;
      font-weight:bold;
    }
  }
}