#talk {
  .score_title {
    padding-left: 10px;
  }

  .score {
   cell-padding: 5px;
   p {
     background: $dark_background;
     color: $dark_foreground;
     @include corners;
     padding: 5px;
     height: 30px;
     width: 45px;
     text-align: center;
     padding-top: 10px;
     font-size: 14pt;
     font-weight: bold;
   }
  }
  table {
    border: 0px solid #fff;
    tr {
      td {
        border: 0px solid #fff;
      }
    }
  }
}

// 
// #talk {
//  #profile_pic {
//    border: 1px solid $lightest_gray;
//    padding: 3px;
//  }
// 
//   h3 {
//     border-bottom: 1px solid $lightest_gray;
//   }
// 
//  .profile_info {
//    padding-left: 10px;
//    vertical-align: top;
//    position: relative;
//    top: -10px;
//    .name {
//      font-size: 14pt;
//      margin-top: 10px;
//    }
//    .username {
//      font-size: 12pt;
//      font-weight: bold;
//    }
//    .other_talks {
//      font-size: 10pt;
//    } 
//  }
// 

//  #link_code_repository {
//    li {
//      margin-bottom: ms(-2);
//    }
//  }
//  
//  #code_repositories {
//    li {
//      position: relative;
//      top: -4px;
//      img {
//        width: ms(3);
//      }
//      span {
//        margin-left: ms(-2);
//        font-size: 18px;
//        position: relative;
//        top: -10px;
//      }
//    }
//  }
// 
//  #slide_share {
// 
//    .not_added {
//      margin-top: 25px;
//    }
//  }
// 
//  #slideshow {
//    margin-left: 60px;
//  }
// 
//  #speaker_rate {
//    margin-top: 15px;
//    margin-bottom: 40px;
//    .speaker_rate_info {
//      margin-left: 5px;
//      margin-top: -15px;
//      .not_added {
//        margin-top: 25px;
//      }
//      .rating {
//        color: lighten($black, 20%);
//        font-size: 26pt;
//        font-weight: bold;
//        float: left;
//        margin-right: 15px;
//        margin-top: 7px;
//      }
//      .not_rated_yet {
//        font-size: 14pt;
//        margin-top: 16px;
//      }
//      .link_to_speaker_rate {
//        margin-top: 25px;
//      }
//      .rate_it_button {
//        margin-top: 20px;
//        a {
//          @extend .positive_button_link;
//          font-weight: bold;
//          font-size: 14pt;
//          position: relative;
//          top: 15px;
//          &:hover {
//          }
//        }
//      }
//    }
//  }
// 
//  #talk_description {
//    margin-bottom: 20px;
//  }
// }