%h1 Technologies

= link_to "Add", new_technology_path

%table
  %tr
    %th Name
    %th
  - @technologies.each do |technology|
    %tr
      %td= technology.name
      %td= button_to "delete", technology, :confirm => "Are you sure?", :method => :delete, :id => "delete_#{technology.id}"
