.grid_16
  #people_search_form
    = form_tag people_searches_path, :remote => true do |f|
      Search for people
      = text_field_tag :search
      = submit_tag "Search", :disable_with => "Searching..."
  #people_search_results
.clear
