= content_for :title do
  Edit your Social Profile

#profile
  = render :partial => "profiles/profile_side_bar"
  
  .grid_13
    %h1 Edit your Social Profile
    = link_to "Go back to your social profile", profile_social_path(@profile)

    %section#syncables
      %h2 Syncables
      %ul
        %li= render :partial => "twitter_profiles/profile"
      .clear

  .clear

