.grid_4.info_box
  .info_logo= link_to image_tag("linkedin_info_logo.png"), "http://www.linkedin.com"
  - if @profile.linkedin_profile
    = link_to "Go to my LinkedIn Profile", @profile.linkedin_profile.url
    
  - else
    - if can? :set_linked_in_profile, @profile
      %p 
        = link_to "Synch your LinkedIn profile", new_linkedin_profile_path(:username => @profile.username)
.clear

