- if @slide_share_profile || can?(:set_slide_share_profile, @profile)
  .info_box#slide_share_info
    .info_logo= link_to image_tag("slide_share_info_logo.png"), "http://www.slideshare.net"
    .info
      - if @slide_share_profile
        - if !@slide_share_profile.synced?
          %p We are still processing. Hit refresh.
        - else
          = link_to "Go to my Slide Share Profile", @profile.slide_share_profile.url, :target => "_blank"
          %table
            %tr
              %td Slides count
              %td= @slide_share_profile.slides_count 
      - else
        - if can? :set_slide_share_profile, @profile
          - @slide_share_profile = SlideShareProfile.new
          %p 
            Do you have a Slide Share account? 
            %a{:rel => "#sync_slide_share"} Yes
      #sync_slide_share.overlay
        = render :partial => "slide_share_profiles/form"
  .clear
