- if @speaker_rate_profile || can?(:set_speaker_rate_profile, @profile)
  .info_box#speaker_rate_info
    .info_logo= link_to image_tag("speaker_rate_info_logo.png"), "http://www.speakerrate.com"
    .info
      - if @speaker_rate_profile
        = link_to "Go to my Speaker Rate Profile", @speaker_rate_profile.url, :target => "_blank"
        %table
          %tr
            %td Rating
            %td= @speaker_rate_profile.rating
      -else
        - if can? :set_speaker_rate_profile, @profile
          - @speaker_rate_profile = SpeakerRateProfile.new
          %p 
            Do you have a Speaker Rate account? 
            %a{:rel => "#sync_speaker_rate"} Yes
      #sync_speaker_rate.overlay
        = render :partial => "speaker_rate_profiles/form"
  .clear
