- if @profile.speaker_rate_profile.nil? && current_profile == @profile
	%p 
		Do you have a Speaker Rate account? 
		= link_to "Add Your Speaker Rate Account", new_speaker_rate_profile_path
-else
	.large
		.grid_4
			%h4 Speaker Rate
		.clear
		.grid_4
			= link_to "Go to my Speaker Rate Profile", @profile.speaker_rate_profile.url
		.clear
		.grid_2
			Rating
		.grid_2
			= @profile.speaker_rate_profile.rating
		.clear