- if @profile.speaker_rate_profile
  %tr
    %td= image_tag "syncable/speaker_rate_logo.png"
    %td= link_to @profile.speaker_rate_profile.speaker_rate_id, @profile.speaker_rate_profile.url, :target => "_blank"